@font-face {
    font-family: Agave;
    src: './fonts/Agave-Bold.ttf';
}

body {
    background-color: rgb(192, 180, 180);
}

.board-vals {
    border-width: 1px;
    outline: 0;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    float: right;
}

.button {
    background-color: white;
    border-color: aliceblue;
    border-width: 0.5px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.2s;
}
.button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 5px;
}
.img-placeholder{
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    background-color: rgb(176, 168, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}